<!DOCTYPE html>
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>angular js first program</title>
	<script src="F:\ZAID\Programs Files\Angular js\angular.min.js"></script>
</head>
<body ng-app>
	<input type="checkbox"ng-model="a">
	BCA-2<br><br>
	<p ng-if="a">selected</p>
	<input type="checkbox"ng-model="a">
	BCA-2<br><br>
	<p ng-show="a">selected</p>
	<input type="checkbox"ng-model="a">
	BCA-2
	<p ng-hide="a">selected</p>
</body>
</html>